<div id="main">
  <div id="error">
    亲，您使用的浏览器无法支持即将显示的内容，请换成谷歌(<a
      href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html?hl=zh-CN&brand=CHMI"
      >Chrome</a
    >)或者火狐(<a href="http://firefox.com.cn/download/">Firefox</a>)浏览器哟~
  </div>
  <div id="wrap">
    <div id="text">
      <div id="code">
        <img
          style="width: 300px; height: 100px;"
          src="/images/20200405/title.gif"
          alt="标题"
        />
        <br />
        <span class="say">一片荒芜，</span><br />
        <span class="say">你是唯一种繁茂。</span><br />
        <span class="say">广袤草原，</span><br />
        <span class="say">你是第二种美景。</span><br />
        <span class="say">月色雪色，</span><br />
        <span class="say">你是第三种绝色。</span><br />
        <span class="say">日月星辉，</span><br />
        <span class="say">你是第四种难得。</span><br />
        <span class="say">春夏秋冬，</span><br />
        <span class="say">你是第五种喜爱。</span><br />
        <span class="say">稻黎五谷，</span><br />
        <span class="say">你是第六种必需。</span><br />
        <span class="say">浮生六欲，</span><br />
        <span class="say">你是第七种留恋。</span><br />
        <span class="say">阴阳五行，</span><br />
        <span class="say">你是第八种超然。</span><br />
        <span class="say">琴棋八雅，</span><br />
        <span class="say">你是第九种温柔。</span><br />
        <span class="say">太阳星系，</span><br />
        <span class="say">你是第十种向往。</span><br />
        <span class="say"><span class="space"></span>冰的沸点</span><br />
        <span class="say"><span class="space"></span>-- 2020/04/12</span><br />
        <span class="say"><span class="space"></span>-- 庚子年庚辰月乙酉日</span
        ><br />
      </div>
    </div>
    <canvas id="canvas" width="1100" height="680"></canvas>
  </div>
  <audio src="love.mp3" autoplay="autoplay"></audio>
</div>
