<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="stylesheets/20200405/default.css"
    />
    <script
      type="text/javascript"
      src="javascripts/20200405/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/jscex.min.js"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/jscex-parser.js"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/jscex-jit.js"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/jscex-builderbase.min.js"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/jscex-async.min.js"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/jscex-async-powerpack.min.js"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/functions.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/love.js"
      charset="utf-8"
    ></script>
    <script
      type="text/javascript"
      src="javascripts/20200405/20200405main.js"
      charset="utf-8"
    ></script>
  </head>
  <body>
    <%- body%>
  </body>
</html>
